// @use '../styles/abstracts/colors' as *;
@use '../../styles/abstracts/' as *;

.sidebar {
  // position: fixed;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: var(--sidebar-width);
  height: 100vh;
  padding: 3rem 3rem 2rem;

  background-color: $color-bg;
  color: $color-primary;
}


