@use '../../styles/abstracts/' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: var(--sidebar-width);
  height: 100vh;
  padding: 3rem 3rem 2rem;

  background-color: $color-bg;
  color: $color-primary;

  .menu__icon {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    color: $color-tertiary;

    &:hover {
      color: $color-primary;
    }
  }

  .sidebar__projectsBlock {
    flex-grow: 1;
  }

  .sidebar__subheader {
    color: $color-tertiary;
    padding: 0 2rem;
  }

  .addLink {
    color: $color-tertiary;
  }
}

// Tablets
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 10rem;
    align-items: center;

    .sidebar__subheader {
      display: none;
    }
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
