@use "../../../styles/abstracts/" as *;

.header {
  background-color: getColor(bg);
  overflow: hidden;
  border-radius: $border-radius;
  border: 1px solid getColor(bg-variant);

  &__image {
    height: 28rem;
    width: 96rem;
    object-fit: cover;
  }

  .textblock {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 2rem 3rem;
    color: getColor(text);
    font-size: 1.4rem;
    // font-weight: 500;

    &__header {
      color: getColor(text);
      margin-bottom: 0.4rem;
    }
  }
}
.section {
  
  margin: 2rem 0;
}
