@use "../../styles/abstracts" as *;

.card {
  background-color: $color-bg;
  border-radius: $border-radius;
  // padding: 3rem;
  overflow: hidden;
  cursor: pointer;
  transition: $transition;

  &:hover {
    transform: scale(1.025);
  }

  .info_block {
    padding: 2rem 2rem;

    .divider {
      margin: 2rem 0 3rem;
    }

    .info_block__title {
      text-align: center;
      color: $color-primary;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .lower_block {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .area_heading {
        color: $color-primary;
      }
      .area_value {
        color: $color-tertiary;
      }

      .stage {
        width: 3.4rem;
        height: 3.4rem;
        line-height: 1em;
        background-color: $color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        color: $color-bg;
        border: 2px solid $color-bg;
        border-radius: $border-radius;
      }
    }
  }
  .devider {
    background-color: $color-tertiary;
    border: none;
    height: 1px;
    border-radius: 2px;
  }

  .image_conteiner {
    // content: '';
    // width: 100%;
    // height: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 2;
    position: relative;

    .icons_block {
      position: absolute;
      top: 0;
      width: 100%;

      display: flex;
      justify-content: space-between;

      z-index: 999;
      color: $color-bg;
      font-size: 2.4rem;
      padding: 1.4rem;
    }
    .image {
      width: 100%;

      // height: 100%;
      opacity: 80%;
    }
  }
}
