@use '../../../styles/abstracts' as *;

.item {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1em;

  padding: 0.6rem 2rem;
  border-radius: 0.6rem;
  display: flex;
  gap: 1rem;
  align-items: stretch;

  color: getColor(text);

  &:hover {
    background-color: getColor(bg-variant);
  }

  .icon {
    font-size: 1.6rem;
  }
}

.active {
  background-color: getColor(bg-variant);
  outline: none !important;
  font-weight: 500;
  color: getColor(text);
}

// Tablets
@media screen and (max-width: 1024px) {
  .item {
    padding: 1rem;

    .name {
      display: none;
    }
  }
}

// Mobile
@media screen and (max-width: 600px) {
}
