@use '../../../styles/abstracts' as *;

.item {
  font-weight: 400;
  font-size: 1.6rem;
  // border: 2px solid transparent;
  padding: 0.6rem 2rem;
  border-radius: .6rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  line-height: 1em;

  &:hover {
    // background-color: $color-bg-variant;
    background-color: $color-hover;
  }

  .icon {
    font-size: 2rem;
  }
}

.active {
  // background-color: $color-bg-variant;
  background-color: $color-hover;
  outline: none !important;
  font-weight: 500;
  color: $color-secondary;
  // border-color: $color-secondary;

  // .icon {
    // color: $color-secondary;
    // fill: $color-secondary;
  // }
}

// Tablets
@media screen and (max-width: 1024px) {
  .item {
    padding: 1rem;

    .name {
      display: none;
    }
  }
}

// Mobile
@media screen and (max-width: 600px) {
}
