@use '../../styles/abstracts' as *;

.tab{
	padding: 1.6rem 2em;
	font-size: 1.6rem;
	font-weight: 600;
	border-radius: $border-radius;
	width: fit-content;
	min-width: 16rem;

	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;

	&:hover{
		background-color: $color-hover;
	}
}

.selected{
	background-color: $color-bg;
	outline: none !important;

	&:hover{
		background-color: $color-hover;
	}
}