$color-bg: #fff;
$color-bg-variant: #F3F5F7;
// $color-bg-variant: #e3e3e3;
$color-hover: #ECF7F6;
$color-primary: #000;
$color-secondary: #01B7A7;
// $color-secondary: #45E6B4;
$color-tertiary: #999;
$color-link: #0064d9;

@media (prefers-color-scheme: dark) {
  $color-bg: #000;
  $color-bg-variant: #212121;
  $color-primary: #fff;
  $color-secondary: #3fcf8e;
  // $color-secondary: #45E6B4;
  $color-tertiary: #999;
  $color-link: #0064d9;
}
