//* light mode
$colors-light: (
  bg: #fff,
  bg-variant: #e5eaf1,
  text: #212121,
  text-secondary: #999999,
  accent: #030711,
  accent-hover: #1d283a,
  link: #0064d9,
);

//* dark mode
$colors-dark: (
  
  bg: #030711,
  bg-variant: #1d283a,
  text: #dddddf,
  text-secondary: #7b7b80,
  accent: #45e6b4,
  accent-hover: #3A7E81,
  link:
    map-get(
      $map: $colors-light,
      $key: link,
    ),
);

@function getColor($color-name) {
  @return var(--color-#{$color-name});
}
