@use '../../../styles/abstracts' as *;

.card {
  background-color: getColor(bg);
  border-radius: $border-radius;
  overflow: hidden;
  cursor: pointer;
  transition: $transition;

  border: 1px solid getColor(bg-variant);

  &:hover {
    // transform: scale(1.005);
    box-shadow: 0 0 10px getColor(bg-variant);
  }

  .info_block {
    padding: 2.4rem 2rem;
    display: flex;
    flex-direction: column;

    .divider {
      margin: 1.4rem 0 3rem;
    }

    .info_block__title {
      text-align: start;
      color: getColor(text);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .lower_block {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .area_heading {
        color: getColor(text-secondary);
        font-size: 1.4rem;
      }
      .area_value {
        color: getColor(text-secondary);
        font-size: 1.4rem;

      }
    }
  }

  .image_conteiner {
    background-color: black;
    overflow: hidden;
    z-index: 2;
    position: relative;
    height: 21rem;

    .icons_block {
      position: absolute;
      top: 0;
      width: 100%;

      display: flex;
      justify-content: space-between;

      z-index: 999;
      color: getColor(text-secondary);
      font-size: 2.4rem;
      padding: 1.4rem;
    }
    .image {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      opacity: 80%;
      transition: $transition;

      &:hover {
        opacity: 90%;
      }
    }
  }
}
