@use "../../../styles/abstracts" as *;

.container {
  display: flex;
  position: relative;

  .stage_badge {
    width: 3.4rem;
    height: 3.4rem;
    line-height: 1em;
    background-color: getColor(text-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: getColor(bg);
    border: 2px solid getColor(bg);
    border-radius: $border-radius;

    position: absolute;
    bottom: 0;
    right: 0;
  }
  .first {
    right: .7rem;
  }
  .second {
    right: 1.4rem;
  }
  .third{
    right: 2.1rem;
  }
}
