@use "../../../styles/abstracts" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 2rem;

  .title {
    font-size: 3rem;
  }

  .iconsBlock {
    display: flex;
    gap: 1rem;
    font-size: 2.4rem;
    color: getColor(text-secondary);

    .icon {
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: getColor(accent);
        scale: 110%;
      }
    }
  }
}
