@use '../../../styles/abstracts' as *;

.btn {
  border: 1px solid transparent;
  width: fit-content;
  min-width: 22rem;
  padding: 1rem 3rem;
  font-weight: 500;
  border-radius: $border-radius;
  transition: $transition;
}

.ghost {
  background-color: transparent;

  &:hover {
    background-color: getColor(bg-variant);
  }
}

.action {
  background-color: getColor(accent);
  color: getColor(bg);

  &:hover {
    background-color: getColor(accent-hover);
  }
}
