@use '../../../styles/abstracts' as *;

.input {
	border: 2px solid transparent;
	border-radius: $border-radius;
	background-color: getColor(bg-variant);
	padding: .4rem 1.2rem;
	width: 100%;
	color: getColor(text);
	font-size: 1.6rem;

	&::placeholder {
		color: getColor(text-secondary);
		font-style: italic;
	}

	&:focus {
		border: 2px solid getColor(accent);
		outline: none;
	}
}