@use "../../styles/abstracts/" as *;

.layoutContainer {
  display: grid;
  grid-template-columns: 30rem 1fr;
  position: relative;
}

// Tablets
@media screen and (max-width: 1024px) {
  .layoutContainer {
    grid-template-columns: 8rem 1fr;
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .layoutContainer {
    grid-template-columns: 1fr;
  }
}
