.sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  height: 100vh;
  padding: 3rem 3rem 2rem;

  background-color: var(--color-bg-variant);
  color: var(--color-primary);
}

.logo_block {
	display: flex;
	gap: 2rem;


}
.logo__text {
	font-size: 4rem;
	font-family: var(--logo-font);
		margin: 0;
}
