@use '../../styles/abstracts' as *;

.main {
  background-color: $color-tertiary;
  height: .1rem;
  width: 100%;
  border: none;
  position: relative;
  // margin: 0 0 3rem;

  &::before {
    content: '';
    width: .1rem;
    height: 1.1rem;
    background-color: $color-tertiary;
    position: absolute;
    left: 0;
    top: -.5rem;
  }
  &::after {
    content: '';
    width: .1rem;
    height: 1.1rem;
    background-color: $color-tertiary;
    position: absolute;
    right: 0;
    top: -.5rem;
  }
}