@use '../styles/abstracts' as *;

.layoutContainer {
  // display: grid;
  // grid-template-columns: 1fr;

  .mainBlock {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 0 2rem+$sidebar-width;
  }
}

// Tablets
@media screen and (max-width: 1024px) {
  .mainBlock {
    // grid-template-columns:  1fr;
    padding: 0 2rem 0 2rem + $sm-sidebar-width !important;
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .mainBlock {
    padding: 0 2rem !important;
    // grid-template-columns: 1fr;
  }
}
