@use '../../styles/abstracts/' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: fixed;
  top: 0;
  left: 0;

  width: var(--sidebar-width);
  height: 100vh;
  padding: 3rem 3rem 2rem;
  background-color: getColor(bg);

  .menu__icon {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    color: getColor(text-secondary);

    &:hover {
      color: getColor(bg-variant);
    }
  }

  .sidebar__projectsBlock {
    flex-grow: 1;
  }

  .sidebar__subheader {
    color: getColor(text-secondary);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 0 1rem;
    letter-spacing: .1rem;
  }

  .addLink {
    color: getColor(text-secondary);
  }
}

// Tablets
@media screen and (max-width: 1024px) {
  .sidebar {
    width: $sm-sidebar-width;
    align-items: center;

    .sidebar__subheader {
      display: none;
    }

    .divider {
      width: 4.8rem;
    }
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
