.projectsBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.divider {
  margin: 2rem 0 3rem;
}

// Tablets
@media screen and (max-width: 1024px) {
  .projectsBlock {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Mobile
@media screen and (max-width: 600px) {
  .projectsBlock {
    grid-template-columns: 1fr;
  }
}
