@use '../../../styles/abstracts' as *;

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;

  .avatar {
    border-radius: $border-radius;
  }

  .infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

    .name {
      font-weight: 700;
      font-size: 1.3rem;
    }

    .email {
      font-size: 1rem;
      font-weight: 500;
      color: getColor(text-secondary);
    }
  }

  .icon {
    font-size: 2rem;
    color: getColor(text-secondary);
  }
}

// Tablets
@media screen and (max-width: 1024px) {
  .infoBlock,
  .icon {
    display: none!important;
  }
}

// Mobile
@media screen and (max-width: 600px) {
}
