@use '../../../styles/abstracts/' as *;

.container {
  background-color: getColor(bg);
  margin: 2rem 0;
  border-radius: $border-radius;
  border: 1px solid getColor(bg-variant);

  .container__head {
    padding: 2rem 3rem;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header {
      font-size: 1.8rem;
      font-weight: 500;
    }
    .icon {
      font-size: 1.8rem;
			transition: all .1s ease;
      transform: rotate(90deg);

			&_active{
				transform: rotate(0deg);
			}
    }
  }

  .container__body {
    max-height: 0px;
    transition: all .6s ease;
    overflow-y: scroll;
		opacity: 0;
		.data{
			padding: 0 3rem 2rem;
		}
  }
  .active {
		max-height: 20em;
		opacity: 1;

  }
}
