@use "../../../styles/abstracts/" as *;

.mainBlock {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;

    overflow: hidden;
  }

  // Mobile
@media screen and (max-width: 600px) {
  .mainBlock {
    padding: 0 1rem;
  }
}
