@use '../../../styles/abstracts' as *;

.header{
	display: flex;
	align-items: center;
	gap: 1rem;
	overflow: scroll;
	scroll-behavior: smooth;

	background-color: getColor(bg);
	border-radius: calc($border-radius);
	padding: 1rem;
	// border: 0.3rem solid getColor(bg);
}