@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import "normalize";
@import "abstracts/colors";

html {
  font-size: 10px;
  background: $color-bg-variant;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $color-primary;
}

// html,
// body {
//   padding: 0;
//   margin: 0;
// }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
